[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"
"autopep8" = "*"

[packages]
tensorflow = "!=1.10.1"
gym = "*"
#torch = {file = "http://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-win_amd64.whl"}
#torchvision = "*"

[requires]
python_version = "3.6"
